<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Northwind KendoUI Single Page Application Demo">
    <meta name="author" content="Shilin He">
    <link rel="shortcut icon" href="@Url.Content("~/Content/ico/favicon.ico")">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/bootstrap/bootstrap.css")

    <!-- Custom styles for this template -->
    @Styles.Render("~/Content/site.css")

    @Styles.Render("~/Content/kendoui/kendo.common.css", "~/Content/kendoui/kendo.default.css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/Scripts/html5shiv.js", "~/Scripts/respond.min.js")
    <![endif]-->
</head>
<body>
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Northwind</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#/product">Product</a></li>
                        <li><a href="#/order">Order</a></li>
                        <li><a href="#/supplier">Supplier</a></li>
                        <li><a href="#/category">Category</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/shipper/list">Shipper</a></li>
                                <li><a href="#/employee/list">Employee</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <div id="container" class="container"></div>
    </div>

    @RenderBody()

    <div id="footer">
        <div class="container">
            <p class="text-muted credit">ASP.Net MVC/WebAPI * Kendo UI * Bootstrap * RequireJS * Single Page Application Demo</p>
        </div>
    </div>

    @Scripts.Render("~/Scripts/jquery-1.10.2.js",
                    "~/Scripts/underscore.js",
                    "~/Scripts/bootstrap.js",
                    "~/Scripts/kendo.web.js",
                    "~/Scripts/kendo.aspnetmvc.min.js")

    @RenderSection("scripts", required: false)
</body>
</html>